.movie-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.movie-card:hover{
  transform: scale(1.05);
}

.movie-poster img {
  width: 100%;
  height: auto;
  display: block;
}

.favorite-btn {
  border: none;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
  padding: 0;
}

.movie-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding: 8px 12px;
}

.movie-info h3 {
  color: #222;
  margin: 0 0 6px 0;
  font-size: 1rem;
}

.movie-info p {
  color: #555;
  font-size: .85rem;
  margin: 0;
}